doctype html
html(lang="en")
  head
    title Smackenz GitHub
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", media="all", href="about/index.css")
  body
    #about.page
      .spacer
      .no-bg
      section.column.visible
        h2 About
        .sep.delay-5
        p.info I specialize in front-end development, and I mostly focus on simplicity, ergonomics, responsive design, cross-browser compatibility and SEO-friendly code. I am currently working as a freelancer in Washington, DC.
        .sep.delay-7
        .clear
        .dials
          .dial.delay-1
            div
          .dial.delay-2
            div
          .dial.delay-3
            div
      .clear
      section.column.visible
        div.sep.delay-7
        ul.skills
          li.delay-8
            div
              p
                div HTML5
                div CSS3
          li.delay-9
            div
              p
                div jQuery, JS
                div LESS
          li.delay-12
            div
              p
                div Flash, AS
                div Illustrator
          li.delay-13
            div
              p
                div Photoshop
                div 3DS Max
          br.break
          li.delay-10
            div
              p
                div PHP
                div MySQL
          li.delay-11
            div
              p
                div Ajax, JSON,
                div XML, SOAP
          li.delay-14
            div
              p
                div Bootstrap
                div WordPress