doctype html
html(lang="en")
  head
    title Profile A
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", media="all", href="index.css")
  body
    #panel
      h1
        a(href="https://smackenz.github.io") Profile A
      #content
        ul
          li
            a(href="/") Home
            a(href="/about") About
